/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&spi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			spidev@0 {
				status = "disabled";
			};

			spidev@1 {
				status = "disabled";
			};
			
			lora-spi@0 {
				compatible = "lora-spi";
				reg = <0>;
				status = "okay";
				spi-max-frequency = <0x7a120>;
			};

			lora-spi@1 {
				compatible = "lora-spi";
				reg = <1>;
				status = "okay";
				spi-max-frequency = <0x7a120>;
			};
		};
	};
};
